<section class="message-container my-4" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.email %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</section>