<div id="modal-rented" class="modal">
  <!-- Modal content -->
  <span class="modal-rented-close px-3">&times;</span>
  <div class="modal-rented-content">
    <p>Rent started</p>
    <p>Equipment</p>
    <p>Time</p>
  </div>
  <span ><p>Return item and close lock to end rent.</p></span>
</div>