<div id="modal-rented" class="modal-rented">
  <!-- Modal content -->
  <div class="modal-rented-content">
    <span class="modal-rented-close">&times;</span>
    <p>Rent started</p>
    <p>Equipment</p>
    <p>Time</p>
    <p>Return item and close lock to end rent.</p>
  </div>
</div>