// Define variables for your color scheme
$hg-background: #212121;
$hg-overlay: #121212;
$hg-indigo: #6A9AB4;
$hg-red: #AE2B0A;
$hg-available: #499F68;
$hg-notavailable: #4E032A;
$hg-rentedbyyou: #FE9920;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
