.booking-container {
  margin: 0 auto;
  max-width: 60%;
  text-align: center;

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.001rem solid white;
  }
}

.col, .col-5 {
  padding: 0;
  margin: 0 auto;
}

.row {
  flex-wrap: nowrap;
  align-items: center;
}

@media (max-width: 768px) {
  .booking-container {
    max-width: 85%;
  }
}

@media (min-width: 1200px) {
  .booking-container {
    max-width: 50%;
  }
}
