.container-training {
  padding: 0 32px;
}

.container-training h1 {
  font-size: 1.8rem;
}

.container-training p {
  margin: 0;
}

.current-rent {
  padding: 16px 0;
}

.equipment-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
