.container-training {
  padding: 0 32px;
}

.container-training h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.container-training p {
  margin: 0;
}

.current-rent {
  padding: 16px 0;
}

.equipment-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 16px;
}

.equipment-overview h5 {
  font-weight: bold;
  margin: 0;
}
