// Specific CSS for your home-page
.banner {
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &-text {
    margin: 0;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  .fa-arrow-down:before {
    font-size: 2.4rem;
  }
}

.section-black {
  max-width: 750px;
  margin: 0 auto;
}

.section-explore-stations {
  text-align: center;
}

.section-explore-stations .icon {
  padding: 12px;
  border-radius: 50%;
  background: $hg-indigo;
}

.section-pricing {
  text-align: center;
  padding: 0 16px;
}

.pricing-cards {
  display: wrap;
}

.pricing-card {
  min-height: auto;
  overflow: auto;
  margin: 8px;
  padding: 16px 36px 24px 36px;
  background-color: $hg-overlay;
}

@media (min-width: 630px) {
  .pricing-cards {
    display: flex;
  }

  .pricing-card {
    min-height: 200px;
    padding: 36px 36px 42px 36px;
  }
}
