// Specific CSS for your home-page
.banner {
  height: 100vh;
  margin-top: -150px;
  bottom:0;
  z-index: 0;
}

.banner-text {
  z-index: 1;
  position: relative;
  color: white;
  bottom: 28vh;
  margin: auto;
  width: 30vw;
  text-align: center;
}

.fa-arrow-down:before {
  font-size: 2.4rem;
}

.section-black {
  max-width: 750px;
  margin: 0 auto;
}

.section-explore-stations {
  text-align: center;
}

.section-explore-stations .icon {
  padding: 12px;
  border-radius: 50%;
  background: $hg-indigo;
}

.section-pricing {
  text-align: center;
  padding: 0 16px;
}

.pricing-cards {
  display: wrap;
}

.pricing-card {
  min-height: auto;
  overflow: auto;
  margin: 8px;
  padding: 16px 36px 24px 36px;
  background-color: $hg-overlay;
}

@media (min-width: 630px) {
  .pricing-cards {
    display: flex;
  }

  .pricing-card {
    min-height: 200px;
    padding: 36px 36px 42px 36px;
  }
}
