// Import page-specific CSS files here.
@import "home";
@import "stations_index";
@import "stations_show";
@import "equipment_offers_index";

body {
  color: white;
  background: $hg-background;
}

h1 {
  font-family: "Arvo", "Helvetica", "sans-serif";
}

.flex-spacearound {
  display: flex;
  justify-content: space-around;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
}