// Import page-specific CSS files here.
@import "home";
@import "stations_index";
@import "stations_show";
@import "equipment_offers_index";

body {
  color: white;
  background: $hg-background;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 6rem;
}

 h1 {
  font-family: "Arvo", "Helvetica", "sans-serif";
}

.flex-spacearound {
  display: flex;
  justify-content: space-around;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
}

.block {
  display: block;
}