.index-container {
  margin: 0;
  padding: 0;
}

.stations-searchbar {
  z-index: 1;
  position: relative;
  flex-grow: 1;

  form {
    display: flex;
  }
}

#map {
  position: absolute;
  bottom:0;
  z-index: 0;
}

#section-stations-container {
  position: relative;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  flex-grow: 1;
}

@media (max-width: 600px) {
  .stations-searchbar {
    width: 85%;
    margin-left: 4px;
    margin-top: 2vh;
  }

  #section-stations-container {
    top: 53vh;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 4px;
  }

  .stations-cards {
    max-height: 280px;
  }
}

@media (min-width: 601px) and (max-width: 1199px) {
  .stations-searchbar {
    width: 80%;
    margin: 0 auto;
    top: 4vh;
  }

  #section-stations-container {
    top: 53vh;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
  }

  .stations-cards {
    max-height: 280px;
  }
}

@media (min-width: 1200px) {
  .stations-searchbar {
    width: 50%;
    float: right;
    top: 2vh;
    right: 16vh;
  }

  #section-stations-container {
    float: left;
    margin: 0 auto;
  }

  .stations-cards {
    max-height: 100vh;
    max-width: 450px;
  }
}
