.padding-outside {
  padding: 0 12px;
  background: $hg-background;
  min-height: 80vh;
}

.station-banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.station-banner-text {
  font-size: 1.8rem;
  font-weight: bold;
  width: 90%
  line-height: 1.2;
}

.container-text {
  padding: 28px 32px 28px 32px;
}

.item-list ul {
  padding: 0;
  list-style: inside;
}

.flex-images {
  display: flex;
  justify-content: space-around;
}

.flex-images img {
  width: 45vw;
  object-fit: cover;
}