.show-container {
  padding: 0 12px;
  background: $hg-background;
  min-height: 80vh;
}

.station-banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.station-banner-text {
  padding: 32px 0 0 42px;
  font-size: 1.8rem;
  font-weight: bold;
  width: 60vw;
  line-height: 1.2;
}

.item-list {
  padding: 36px 24px 0 42px;
}

.item-list ul {
  padding: 0;
  list-style: inside;
}

.directions {
  padding: 12px 24px 32px 42px;
}

.flex-images {
  display: flex;
  justify-content: space-around;
}

.flex-images img {
  width: 45vw;
  object-fit: cover;
}