.padding-outside {
  padding: 0 12px;
  background: $hg-background;
  min-height: 80vh;
}

.station-banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.station-banner-text {
  font-size: 1.8rem;
  font-weight: bold;
  width: 90%;
  line-height: 1.2;
}

.container-text {
  padding: 32px 24px 32px 24px;
}

.item-list {
  margin-bottom: 32px;
}

.item-list ul {
  padding: 0;
  list-style: inside;
}

.directions-flex {
  display: flex;
  align-items: center;
}

.directions-flex img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 24px;
}

.directions-block {
  display: block;
}

.directions-address {
  margin-bottom: 16px;
}

.images img {
  width: 300px;
  object-fit: cover;
  margin-bottom: 12px;
}