.index-container {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  bottom:0;
  z-index: 0;
}

#section-stations-container {
  position: relative;
  z-index: 1;
  background-color: rgba(0,0,0,0.88);
  flex-grow: 1;
  border-radius: 4px;
}

@media (max-width: 600px) {
  #section-stations-container {
    top: 60vh;
    margin-left: 2%;
    margin-right: 2%;
  }

  .stations-cards {
    max-height: 200px;
  }
}

@media (min-width: 601px) and (max-width: 1199px) {
  #section-stations-container {
    top: 60vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  .stations-cards {
    max-height: 200px;
  }
}

@media (min-width: 1200px) {
  #section-stations-container {
    float: left;
    margin: 24px;
  }

  .stations-cards {
    max-height: 85vh;
    max-width: 500px;
  }
}
