.index-container {
  margin: 0;
  padding: 0;
}

.stations-searchbar {
  z-index: 1;
  position: relative;
  width: 90%;
  flex-grow: 1;
  margin-left: 12px;
  top: 4vh;

  form {
    display: flex;
  }
}

#map {
  position: absolute;
  bottom:0;
  z-index: 0;
}

#section-stations-container {
  position: relative;
  z-index: 1;
  background-color: rgba(0,0,0,0.88);
  flex-grow: 1;
}

@media (max-width: 600px) {
  #section-stations-container {
    top: 53vh;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 4px;
  }

  .stations-cards {
    max-height: 280px;
  }
}

@media (min-width: 601px) and (max-width: 1199px) {
  #section-stations-container {
    top: 53vh;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
  }

  .stations-cards {
    max-height: 280px;
  }
}

@media (min-width: 1200px) {
  #section-stations-container {
    float: left;
    margin: 0 auto;
  }

  .stations-cards {
    max-height: 90vh;
    max-width: 450px;
  }
}
