<div class="container-training">
  <h1><%= @station.name %></h1>

  <p>1 Item in Ausleihe</p>
  <div class="current-rent">
    <div class="flex-spacebetween">
      <p>7-15kg</p>
      <p>00:13:42</p>
    </div>
    <div class="flex-spacebetween">
      <p>Gesamt:</p>
      <p>&nbsp;00:28:19</p>
    </div>
  </div>

  <% @equipment_offers.each do |item| %>
    <div class="equipment-overview">
      <h5 id="item-rented"><%= item.name %></h5>
      <% if item.availability == true %>
        <button class="btn-green">Rent now</button>
      <%# To check if item 'rented by you' look for last rental time is current time AND rental user is current user %>
      <% elsif item.rentals.last.begin_at < DateTime.now().utc && item.rentals.last.end_at.nil? && item.rentals.last.user == @current_user %>
        <button id="button-rented" class="btn-yellow">rented by you</button>
        <%= render 'components/modal_rented' %>
      <% else %>
      <%# To check if item 'in use' look for last rental time is time now --> rentals = rentals.last.end_at %>
        <button class="btn-darkred">In use</button>
      <% end %>
    </div>
  <% end %>
</div>
