<footer class="footer my-3">
  <section class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </section>
  <section class="footer-copyright">
    <p>Made with <i class="fas fa-heart"></i> HoodGym 2020</p>
  </section>
</footer>