<div class="topnav" id="myTopnav">
  <button><%= link_to 'HG', root_path, id: "logo"%></button>
  <a href="#"></a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon">
    <i class="fa fa-bars"></i>
  </a>
</div>

