<header>
  <div class="overlay-menu">
    <P>TEST WITH SOME TEXT1111</P>
  </div>
  <nav class="flex flex-jc-sb flex-ai-c p-4">
    <a href="/" class="header_logo">
      <%= image_tag('training-emoji2.jpg', alt: 'Hoodgym logo')  %>
    </a>
    <a id="btnHamburger" href="#" class="header_menu hide-for-desktop">
      <div class="block" id="hamburgerIcon"><i class="fa fa-bars"></i></div>
      <div class="none" id="closeHamburger">&times;</div>
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="header_links hide-for-mobile">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Pricing</a>
      <a href="#">Blog</a>
      <button class="btn-underlined">Login</button>
    </div>

  </nav>
</header>
