<header>
  <nav class="flex flex-jc-sb flex-ai-c px-4">
    <a href="/" class="header_logo">
      <%= image_tag('training-emoji2.jpg', alt: 'Hoodgym logo')  %>
    </a>

    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu header_links flex flex-jc-sa flex-ai-c">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <button class="btn-ghost my-4">Login</button>
      <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>

  </nav>
</header>
