<div class="section-black">
    <div class="section-pricing">
    <h1>Price Packages</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="pricing-cards">
      <div class="pricing-card">
        <h6>Package 1</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="pricing-card">
        <h6>Package 2</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="pricing-card">
        <h6>Package 3</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <button class="btn btn-red">Buy credits</button>
  </div>
</div>
<%= render 'shared/footer' %>