.booking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.booking-card {
  max-width: 300px;
  overflow: hidden;
  background: $hg-overlay;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 1rem;
    margin: 0;
  }

  p {
    font-size: 0.8rem;
    opacity: .7;
    margin: 0;
  }

  .booking-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
