.btn-red {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $hg-red;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-red:hover {
  background: #b9360e;
  color: white;
}

.btn-darkred {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $hg-darkred;
  cursor: default;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-darkred:hover {
  color: white;
}

.btn-green {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $hg-green;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-green:hover {
  background: #54b678;
  color: white;
}

.btn-yellow {
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  background: $hg-yellow;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-yellow:hover {
  background: #ffa536;
  color: white;
}

.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: lighter;
  transition: background 0.3s ease;
  text-decoration: none;
  background: transparent;
  display: inline-block;
  margin-top: 16px;
}

.btn-ghost:hover {
  background-color: $hg-overlay;
  color:white;
}

.btn-underlined {
  color: white;
  text-decoration: none;
  background: transparent;
  border: none;
  display: inline-block;
  text-decoration: underline;
}

.btn-underlined:hover {
  background-color: $hg-overlay;
  color:white;
}