.btn-red {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $hg-red;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-red:hover {
  background: #b9360e;
  color: white;
}

.btn-darkred {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $hg-darkred;
  cursor: default;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-darkred:hover {
  color: white;
}

.btn-green {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $hg-green;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-green:hover {
  background: #54b678;
  color: white;
}

.btn-yellow {
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  background: $hg-yellow;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-yellow:hover {
  background: #ffa536;
  color: white;
}

.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: lighter;
  transition: background 0.3s ease;
  text-decoration: none;
  background: transparent;
  display: inline-block;
}

.btn-ghost:hover {
  background-color: $hg-overlay;
  color:white;
}

.btn-dark {
  color: white;
  border: 1px solid white;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: lighter;
  transition: background 0.3s ease;
  text-decoration: none;
  background: $hg-background;
  opacity: 0.8;
  display: inline-block;
}

.btn-dark:hover {
  background-color: $hg-overlay;
  color:white;
}

.btn-underlined {
  color: white;
  padding: 6px;
  background: transparent;
  border: none;
  font-weight: lighter;
  display: inline-block;
  text-decoration: underline;
  font-weight: lighter;
}

.btn-underlined:hover {
  color:grey;
  text-decoration: underline;
}

.btn-sticky {
  width: 120px;
  height: 120px;
  color: white;
  border-radius: 50%;
  background: $hg-red;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  position: sticky;
  position: -webkit-sticky;
  position: fixed;
  bottom: 8vh;
  left: -4px;
  line-height: 1.3;
  z-index: 1;
}

.btn-sticky:hover {
  background: #b9360e;
  color: white;
}

.btn-noborder {
  color: white;
  padding: 6px 12px;
  font-weight: lighter;
  transition: background 0.3s ease;
  display: inline-block;
  border-radius: 4px;
  background-color: $hg-overlay;
}

.btn-noborder:hover {
  border: 0.5px solid white;
  color:white;
  border-radius: 4px;
}
