/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  margin: auto;
  text-align: center;
}

/* Modal Content/Box */
.modal-rented-content {
  padding: 20px;
  margin: 15% auto;
} 

/* The Close Button */
.modal-rented-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// Smallest device
@media (min-width: 100px) and (max-width: 414px) {
  .modal {
    height: 250px;
    width: 320px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 415px) {
  .modal {
    height: 300px;
    width: 380px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 650px) {
  .modal {
    height: 350px;
    width: 440px;
  }
}

// large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modal {
    height: 400px;
    width: 500px;
  }
}