/* Header style */
.header {
  &_logo {
    img {
      width: 1.375rem;
      height: 1.375rem;
    }
  }

  &_menu {
    > .none {
      display: none;
    }

    > .block {
      display: block;
    }

    > div {
      color: white;
      font-size: 1.6rem;
    }

    > span {
      display: block;
    }
  }

  &_links {
    a {
      position: relative;
      color: white;
      padding-right: 8px;
      padding-left: 8px;
      margin-right: 48px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        left: 0;
        right: 0;
        top: 28px;
        background: lime;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: grey;
        transition: color 300ms ease-in-out;
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

// Breakpoints
// 640px, 1024px, 1400px
$breakpoints-up: ("medium": "40em", "large": "64em", "x-large": "87.5em");
// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

// Add Responsiveness
.hide-for-mobile {
  // hide for tablet and mobile
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop
  @include breakpoint-up(large){
    display: none;
  }
}

/* Add a black background color to the top navigation
 .topnav {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: $hg-background;
} */
