.stations-cards {
  display: block;
}

.card-station {
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
}

.card-station img {
  height: 80%;
  width: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.card-station h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.card-station p {
  font-size: 0.8rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2%;
}
